{% load django_bootstrap5 %}
{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="Push-Up Challenge 2025 ">
        <meta name="keywords" content="push-ups, challenge, 2025">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
                Push-Up Challenge
            {% endblock title %}
        </title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css %}
        {% endblock css %}
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
    </head>
    <body>
        {% block navbar %}
            {% include "components/navbar.html" %}
        {% endblock navbar %}
        <div class="container my-5">
            {% block content %}
                <h1>You really shouldn't see this.</h1>
            {% endblock content %}
        </div>
        {% bootstrap_javascript %}
        <script src="{% static 'js/base.js' %}"></script>
        <script src="{% static 'js/htmx.min.js' %}"></script>
        {% django_htmx_script %}
        {% block js %}
        {% endblock js %}
    </body>
</html>
