{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <h1>Log some push-ups!</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% bootstrap_button button_type="submit" content="OK" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>
    <div>
        You've done <b>{{ statistics.done_today }}</b> push-ups so far today!
        <br>
        {% if statistics.left_today > 0 %}
            You need to do {{ statistics.left_today }} more to reach today's goal.
        {% elif statistics.left_today < 0 %}
            You've surpassed today's goal by {{ statistics.left_today| cut:"-" }} push-ups. Awesome!
        {% else %}
            You've reached todays goal. Great!
        {% endif %}
        <br>
        So far, you've done a total of {{ statistics.done_total }}  of your goal of {{ statistics.goal }} push-ups.
        <br>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">When</th>
                <th scope="col">Repetitions</th>
            </tr>
        </thead>
        {% for entry in pushup_log %}
            <tr>
                <td>{{ entry.when }}</td>
                <td>{{ entry.repetitions }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
