{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Home - Push-Up Challenge
{% endblock title %}
{% block content %}
    <div class="col py-3">
        {% include "components/dailyprogresscard.html" with done=statistics.done_today left=statistics.left_today done_percent=statistics.done_today_percent %}
    </div>
    <div class="row pb-3">
        <div class="col">{% include "components/logformcard.html" %}</div>
    </div>
    <div class="row pb-3">
        <div class="col">
            <div class="col">{% include "components/statisticscard.html" %}</div>
        </div>
    </div>
{% endblock content %}
