{% extends "base.html" %}
{% load static %}
{% block title %}
    Push-Up Challenge
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="assets/css/Hero-Clean-Reverse-images.css">
{% endblock css %}
{% block body %}
    <header>
        <div class="container py-4 py-xl-5">
            <div class="row gy-4 gy-md-0">
                <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div style="max-width: 350px;">
                        <h2 class="text-uppercase fw-bold">Join the 50,000 Push-up Challenge!</h2>
                        <p class="my-3">We're trying to do 50,000 push-ups in one year. Login to join and start logging some push-ups!</p>
                        <a class="btn btn-primary btn-lg me-2"
                           role="button"
                           href="{% url 'account_login' %}">Login</a>
                        <a class="btn btn-outline-primary btn-lg"
                           role="button"
                           href="{% url 'account_signup' %}">Register</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-xl-5 m-xl-5">
                        <img class="rounded img-fluid w-100 fit-cover"
                             style="min-height: 300px"
                             src="{% static "images/push-up-primary.svg" %}">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body %}
