{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>
                Your account doesn't have access to this page. To proceed,
                please login with an account that has access.
            </p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <div class="row justify-content-center">
        <div class="card col-md-4 px-0">
            <h5 class="card-header">Login</h5>
            <div class="card-body">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="Login" %}
                    {% bootstrap_button button_type="reset" content="Cancel" %}
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
                {# Assumes you set up the password_reset view in your URLconf #}
                <p>
                    <a href="{% url 'password_reset' %}">Lost password?</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
