{% comment "documentation" %}
Component for the daily progress bar.
Context usage:
    done (int): The number of push-ups done today
    left (int): The number of push-ups left today
    done_percent (int): Push-ups done today as percent
{% endcomment %}
<div class="card text-center bg-primary text-light"
     id="apa"
     hx-get="{% url 'dailyprogress' %}"
     hx-trigger="newLogentry from:body"
     hx-swap="outerHTML">
    <div class="card-body">
        <h4 class="card-title">Today's progress</h4>
        <h1>
            <span {% if updated %}class="updated-value"{% endif %}>{{ done }}</span> Done.
            {% if left > 0 %}
                <span {% if updated %}class="updated-value"{% endif %}>{{ left }}</span> To Go!
            {% else %}
                <span {% if updated %}class="updated-value"{% endif %}>Today's goal reached!</span>
            {% endif %}
        </h1>
        <div class="progress">
            <div id="dailyprogressbar"
                 class="progress-bar text-dark fw-bold fs-5"
                 aria-valuenow="{{ done_percent }}"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="background-color: var(--bs-secondary);
                        width: {{ done_percent }}%">
                <span {% if updated %}class="updated-value"{% endif %}>{{ done_percent }}%</span>
            </div>
        </div>
    </div>
</div>
