<div class="card text-center bg-primary text-light">
    <div class="card-body">
        <h4 class="card-title">Today's progress</h4>
        <h1>
            {{ done }} Done.
            {% if left > 0 %}
                {{ left }} To Go!
            {% else %}
                Today's goal reached!
            {% endif %}
        </h1>
        <div class="progress">
            <div class="progress-bar text-dark fw-bold fs-5"
                 aria-valuenow="{{ done_percent }}"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="background-color: var(--bs-secondary);
                        width: {{ done_percent }}%">{{ done_percent }}%</div>
        </div>
    </div>
</div>
