{% load django_bootstrap5 %}
<div class="row justify-content-center">
    <div class="col-lg-9 col-xl-8 col-xxl-7">
        <nav class="navbar navbar-expand-md bg-body py-3">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center"
                   href="{% url 'index' %}"><span>Push-Up Challenge 2025</span></a>
                <button data-bs-toggle="collapse"
                        class="navbar-toggler"
                        data-bs-target="#navcol-3">
                    <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-3">
                    <ul class="navbar-nav mx-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logs' %}">Log</a>
                            </li>
                        {% endif %}
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <a class="dropdown-toggle btn-primary btn"
                               aria-expanded="false"
                               data-bs-toggle="dropdown"
                               href="#">{{ user.email }}</a>
                            <div class="dropdown-menu">
                                <form action="{% url 'account_logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </div>
                        {% else %}
                            <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
