/* CSS for the base.html template goes here !*/
.navbar {
    border-bottom: 1px solid rgba(56, 119, 128, 0.8);
}

.progress {
    height: 3em;
}

.asteriskField {
    display: none;
}

.btn-secondary {
    --bs-btn-color: var(--bs-dark);
}

.updated-value {
    animation: fader 1s;
}

@keyframes fader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}